.global-div-ourFood{
  display: flex;
  align-items: center;
  width: 85%;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 10px;
}

.ourFood-text{
  width: 500px;
  margin-left: 10px;
  margin-right: 10px;
}

.global-ourFood{
  margin-top: 80px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: white;
}

.button-to-gallery{
  color: white;
  width: 140px;
  height: 50px;
  background-color: #ff3343;
  border: #ff3343;
  font-size: larger;
}

.lieu{
  width: 85%;
  height: 330px;
  display: flex;
  margin: auto;
  text-align: center;
  color: white;
}

.lieu h3{
  width: 30%;
    text-align: center;
    background-color: #00000061;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-size: 300%;
    font-weight: normal;
}